.container {
    border: 10px dashed chartreuse;
    border-radius: 100px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 300ms ease;
}

h1 {
    /* position: relative; */
    /* animation: vibes 5s infinite; */
}

h1::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 90px;
    background-color: red;
    animation: vibes 1s alternate infinite;
}


@keyframes vibes {
    0% { top: 0px; }
    25% {top: 200px; }
    75% {top: 50px;}
    100% {
        top: 1200px;
    }
}